* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
    font-family: "Poppins", sans-serif;
}
h2 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
    color: #FF4500;
    margin-top: 50px;
}
form {
    margin-block: 20px;
    background: rgb(240, 240, 240);
    padding: 30px 20px;
    border-radius: 3px;
}
form input {
    margin: 10px 0px 25px 0px;
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(240, 240, 240);
}
form input:focus {
    border: 2px solid #FF4500;
}
form button {
    background: #FF4500;
    color: white;
    border: none;
    padding: 10px 50px;
    width: 95%;
    margin-block: 20px;
    border-radius: 6px;
}
form button:hover {
    cursor: pointer;
}
form span {
    text-align: center;
}
.left-align {
    display: flex;
    justify-content: right;
    margin-inline: 20px;
}
a {
    text-decoration: underline;
    color: #FF4500;
    font-weight: bold;
}
.sign-in-btn {
    margin-top: 10px;
}
.success-sign-up {
    background: rgb(240, 240, 240);
    color: black;
    padding: 5px 10px;
    margin-block: 20px;
    border-radius: 7px;
}
.failed {
    display: block;
    background: rgb(240, 240, 240);
    color: black;
    padding: 5px 10px;
    margin-block: 20px;
    border-radius: 7px;
}
.fade {
    background: #FFECB3;
    color: black;
}
form button a {
    color: white;
    text-decoration: none;
}
#log-out, #delete-group-btn, #delete-event-btn {
    background: none;
    color: #FF4500;
    text-decoration: underline;
    padding: 1px 50px;
    margin-block: 1px;
    font-weight: bold;
}

@media screen and (min-width: 900px) {
    body {
        padding-inline: 250px;
    }
    label {
        font-size: 1.1rem;
    }
    button {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .left-align {
        margin-inline: 35px;
    }
}