* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: rgb(250, 250, 250);
}
nav {
    background: #FFECB3;
    opacity: .8;
    /* background: #FFF8E1; */
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}
nav span {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
}
nav span:hover, button:hover, nav i:hover {
    cursor: pointer;
}
nav i {
    position: absolute;
    right: 20px;
}
nav button {
    background: #FF4500;
    color: white;
    position: absolute;
    right: 45px;
    border: none;
    border-radius: 9px;
    padding: 3px 15px;
    font-size: .7.1rem;
}
.hero {
    padding-top: 90px;
    padding-inline: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: grid;
    align-items: center;
}
.hero h1 {
    margin-block-end: 10px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
}
.hero button {
    background: #FF4500;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    margin-block-start: 15px;
    margin-block-end: 30px;
    color: white;
}
#second-btn {
    background: #FFF8E1;
    color: black;
}
.hero img {
    width: 100%;
}
.orange-txt {
    color: #FF4500;
}
.why-us {
    background: linear-gradient(to bottom, #FFECB3, rgb(250, 250, 250));
    color: black;
    padding: 20px;
    margin-inline: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.why-us h3 {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
}
.why-us div {
    border: 1px solid #FFF8E1;
    background: rgb(250, 250, 250);
    margin-block: 30px;
    margin-inline: 20px;
    border-radius: 8px;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.why-us div:hover {
    border: 1px solid black;
}
.why-us img {
    width: 40%;
}
.why-us h4 {
    margin-bottom: 5px;
}
.goals-banner img {
    width: 100%;
}
.goals-banner {
    position: relative;
}
.goals-banner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FF4500;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
    opacity: .8;
}
.our-goals {
    text-align: center;
    margin: 60px 0px;
}
.write-up {
    padding: 20px;
    text-align: left;
    margin: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.write-up p {
    margin: 5px;
}
