* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: currentColor;
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    background: rgb(250, 250, 250);
}
nav {
    background: #FFECB3;
    opacity: .8;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}
nav span, footer h3 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
}
nav span:hover, button:hover, nav i:hover {
    cursor: pointer;
}
nav i {
    position: absolute;
    right: 20px;
}
nav button {
    background: #FF4500;
    color: white;
    position: absolute;
    right: 45px;
    border: none;
    border-radius: 9px;
    padding: 3px 15px;
    font-size: .7.1rem;
}
.hero {
    padding-top: 90px;
    padding-inline: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: grid;
    align-items: center;
}
.event-details-con {
    padding-top: 90px;
    padding-inline: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: grid;
    align-items: center;
}
.hero h1 {
    margin-block-end: 10px;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
}
.hero button, .event-details-con button {
    background: #FF4500;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    margin-block-start: 15px;
    margin-block-end: 30px;
    color: white;
}
#second-btn {
    background: #FFF8E1;
    color: black;
}
.hero img {
    width: 100%;
}
.orange-txt {
    color: #FF4500;
}
.why-us {
    background: linear-gradient(to bottom, #FFECB3, rgb(250, 250, 250));
    color: black;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.why-us h3 {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}
#our-goals h3, .get-started h3 {
    font-size: 1.4rem;
}
.why-us div {
    border: 1px solid #FFF8E1;
    background: rgb(250, 250, 250);
    margin-block: 30px;
    margin-inline: 30px;
    border-radius: 8px;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.why-us div:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.why-us img {
    width: 25%;
    margin-bottom: 5px;
}
.why-us h4 {
    margin-bottom: 5px;
    font-size: 1.25rem;
}
.goals-banner img {
    width: 85%;
}
.goals-banner {
    position: relative;
    display: flex;
    justify-content: center;
}
.our-goals {
    text-align: center;
    margin: 60px 0px;
}
.our-goals img {
    width: 90%;
    border-radius: 8px;
    margin-top: 30px;
}
.write-up {
    padding: 20px;
    text-align: left;
    margin: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.write-up button {
    background: #FF4500;
    color: white;
    padding: 6px 20px;
    margin-block-start: 20px;
    border-radius: 6px;
    border: none;
}
.write-up p {
    margin: 8px;
}
footer {
    background: #FF4500;
    padding: 15px;
    color: white;
}
footer p {
    margin: 10px 0px;
}
.contact-h3 {
    margin-top: 15px;
    margin-bottom: -5px;
}
.rights {
    text-align: center;
    margin-top: 20px;
}
.rights a, .del-group-a {
    font-weight: bold;
    text-decoration: underline;
}
.del-group-a, .loc-i {
    color: #FF4500;
}
.to-top {
    background: #FF4500;
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 6px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}
.to-top:hover {
    cursor: pointer;
}
.scroller-transit {
    opacity: 1;
    visibility: visible;
}
aside {
    position: fixed;
    width: 80%;
    height: 100%;
    background: rgb(250, 250, 250);
    top: 50px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    transition: all, .2s ease-in-out;
    z-index: 1000000;
}
aside p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}
aside button {
    border: none;
    padding: 7px 25px;
    margin-block: 20px;
    margin-inline: 5px;
    background: #FFECB3;
    border-radius: 4px;
}
.first-btn {
    background: #FF4500;
    color: white;
    margin-inline-start: 15px;
}
.close-menu {
    opacity: 0;
    left: -400px;
}
.open-menu {
    opacity: 1;
    left: 0;
}
.success-sign-up, .success, .failed {
    border-radius: 6px;
}
.pc-menu, .pc-btn {
    display: none;
}
.centered {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}
.center button {
    margin-inline: 10px;
}
#our-goals {
    margin-top: 50px;
    margin-bottom: -60px;
}
.goals-banner img {
    margin-top: 30px;
}
.get-started {
    background: linear-gradient(to bottom, #FFECB3, rgb(250, 250, 250));
    text-align: center;
    margin-block: 30px;
    padding: 20px;
}
.get-started h3 {
    margin-top: 8px;
}
.gridy {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    margin-block: 30px;
    background: rgb(250, 250, 250);
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.gridy div {
    height: 145px;
    padding-block: 20px;
    padding-inline: 8px;
    background-color: rgb(250, 250, 250);
    color: black;
    border-radius: 8px;
    width: 95%;
    margin-block: 25px;
    position: relative;
}
.gridy div h3 {
    margin-top: 15px;
    font-size: 1.1rem;
    margin-bottom: 9px;
} 
.gridy div span {
    background: #FF4500;
    color: white;
    padding: 3px 12px;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px #FF4500;
}
.gridy section {
    margin-top: 10px;
}
.quick-links {
    margin-block: 20px;
}
.quick-links h3 {
    margin-bottom: 10px;
}
.quick-links a {
    margin-left: 10px;
    display: block;
}

/*  User Dashboard */
#left {
    text-align: left;
}
.user-dashboard {
    margin-top: 50px;
}
.dashboard {
    margin-block: 20px;
    background: linear-gradient(to left, #FFECB3, rgb(240, 240, 240));
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 30px 25px;
    border-radius: 7px;
}
.dashboard div {
    margin-top: 10px;
}
.dashboard button {
    margin-top: 20px;
    margin-bottom: 0px;
}
.plan-txt {
    margin-top: 30px;
    font-size: 1.3rem;
}
.user-menu {
    background: linear-gradient(to top, #FFECB3, rgb(250, 250, 250));
}
form {
    margin-block: 20px;
    background: rgb(240, 240, 240);
    padding: 30px 20px;
    border-radius: 3px;
}
form input {
    margin: 10px 0px 25px 0px;
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(240, 240, 240);
}
form input:focus {
    border: 2px solid #FF4500;
}
form button {
    background: #FF4500;
    color: white;
    border: none;
    padding: 10px 50px;
    width: 95%;
    margin-block: 20px;
    border-radius: 6px;
}
form button:hover {
    cursor: pointer;
}
form span {
    text-align: center;
}
.success-sign-up, .success {
    background: rgb(240, 240, 240);
    color: black;
    padding: 5px 10px;
    margin-block: 20px;
    border-radius: 7px;
}
.failed {
    display: block;
    background: rgb(240, 240, 240);
    color: black;
    padding: 5px 10px;
    margin-block: 20px;
    border-radius: 7px;
}
.no-ev-gr {
    margin-top: 10px;
}
.no-ev-gr button {
    background: #FF4500;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    margin-block-start: 15px;
    margin-block-end: 10px;
    color: white;
}
.small-txt {
    font-size: .8rem;
}
select {
    border: 1px solid #FF4500;
    padding: 2px 5px;
    border-radius: 4px;
}
select:hover {
    background: #FFECB3;
}
.settings div {
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-block: 10px;
    padding-inline: 10px;
    margin-bottom: 10px;
}
.settings {
    margin: 50px 0px;
    background: linear-gradient(to bottom, #FFECB3, rgb(250, 250, 250));
    padding-block: 30px;
    padding-inline: 10px;
    border-radius: 8px;
}
.settings div:hover {
    cursor: pointer;
}
.settings div span {
    position: absolute;
    right: 20px;
    font-weight: bold;
}
.zero-margin {
    margin-inline: 0px;
}
.log-out {
    width: 70%;
    border: none;
    background: #FF4500;
    padding: 8px;
    border-radius: 7px;
    color: white;
    margin-bottom: 30px;
}
.not-verified {
    text-align: center;
    background: rgb(240, 240, 240);
    padding: 10px;
    display: none;
    margin-block: 15px;
}
.not-verified button {
    border: none;
    background: #FF4500;
    padding: 8px 20px;
    border-radius: 7px;
    color: white;
    margin-block: 15px;
}
#bell {
    right: 50px;
}
.alert {
    background: #FF4500;
    height: 5px;
    width: 5px;
    right: 9px;
    border-radius: 10px;
}
.fade {
    background: #FFECB3;
}
.group-type {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#all-groups p {
    margin-bottom: 4px;
}
#all-groups div:hover {
    cursor: default;
}
#all-groups h3 {
    margin-bottom: 7px;
}
#all-groups button {
    margin-block: 12px;
}
#all-groups span {
    font-weight: bold;
}
#group-desc-div {
    position: relative;
    text-align: left;
    background: rgb(240, 240, 240);
    color: black;
    padding: 20px 15px;
    margin-block: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
#event-desc-div {
    display: flex;
    position: relative;
    text-align: left;
    background: rgb(240, 240, 240);
    color: black;
    padding: 20px 15px;
    margin-block: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
#event-desc-div span, #group-desc-div span {
    font-weight: bold;
}
#group-desc-div h2, #event-desc-div h2 {
    margin-bottom: 5px;
}
#group-desc-div button {
    background: #FF4500;
    margin: 10px 0px;
}
#group-desc-div:hover, #event-desc-div:hover {
    cursor: pointer;
}
#group-details-container {
    text-align: left;
    background: rgb(240, 240, 240);
    color: black;
    padding: 25px 20px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#group-details-container p {
    margin-block: 10px;
}
#group-details-container a {
    cursor: pointer;
}
.edit-button {
    position: absolute;
    top: 15px;
    right: 20px;
}
#search-input {
    padding: 15px 10px;
    border-radius: 5px;
    margin-block: 20px;
    outline: none;
    border: 1px solid #FF4500;
    background: #FFECB3;
}
#search-results {
    background: rgb(240, 240, 240);
    padding: 10px;
}
#search-results p {
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
#search-results p:hover {
    cursor: pointer;
    background: #FFECB3;
}
.group-link {
    font-weight: bold;
    color: #FF4500;
    margin-inline: 6px;
    position: absolute;
    bottom: -5px;
}
.rel {
    position: relative;
}
.group-link:hover {
    cursor: pointer;
}
.copy-s {
    display: none;
    text-align: center;
    background: #FFECB3;
    color: black;
    padding: 8px 20px;
    border-radius: 8px;
    margin-inline: 50px;
    margin-block: 15px;
}
.space-bttm {
    margin-bottom: 15px;
}
.success-sign-up {
    background: rgb(240, 240, 240);
    color: black;
    padding: 5px 10px;
    margin-block: 20px;
    border-radius: 7px;
}
.failed {
    display: block;
    background: rgb(240, 240, 240);
    color: black;
    padding: 5px 10px;
    margin-block: 20px;
    border-radius: 7px;
}
.latest-events, .latest-groups{
    background-color: rgb(240, 240, 240);
    color: black;
    padding: 10px;
    border-radius: 7px;
}
.margin-bttm {
    margin-bottom: 20px;
}
#event-desc-div img {
    width: 30%;
}
#event-desc-div div {
    margin-left: 25px;
}
#user-hero-img {
    width: 50%;
}

@media screen and (min-width: 900px) {
    .menu {
        display: none;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0px;
        padding: 40px 0px 0px 130px;
    }
    .home-hero {
        display: grid;
        padding: 40px;
    }
    .home-hero #left, .home-hero h2 {
        margin-top: 70px;
        text-align: center;
    }
    .to-left, .to-right {
        margin-inline: 20px;
        width: 100%;
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    }
    .to-left {
        background: #FFECB3;
    }
    .to-right {
        background: #FFECB3;
    }
    .home-hero .flexy {
        display: flex;
        width: 1100px;
    }
    .why-us {
        font-size: 1.3rem;
    }
    .why-us h3 {
        font-size: 1.4rem;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .why-us .flexy {
        display: flex;
    }
    .why-us img {
        width: 30%;
        margin-bottom: 20px;
    }
    #menu-bar {
        display: none;
    }
    .goals-banner {
        display: flex;
        justify-content: center;
    }
    .goals-banner img {
        width: 60%;
        margin-block: 100px;
        margin-inline: 50px;
    }
    .centered {
        text-align: center;
    }
    .centered h3 {
        font-size: 1.4rem;
    }
    .our-goals img {
        width: 50%;
    }
    .write-up {
        margin-inline: 260px;
    }
    .write-up button {
        padding-inline: 30px;
    }
    .pc-menu {
        display: block;
        margin-left: 400px;
    }
    .pc-menu a {
        margin-inline: 10px;
    }
    nav button {
        margin-right: 200px;
        border-radius: 7px;
        padding: 4px 25px;
    }
    .pc-btn {
        display: block;
        margin-inline: 100px;
        background: white;
        color: black;
    }
    .get-started h3 {
        font-size: 1.4rem;
    }
    .gridy {
        position: relative;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-items: center;
        padding-top: 80px;
    }
    .gridy div {
        height: 150px;
    }
    .gridy div h4 {
        font-size: 1.4rem;
        margin-top: 40px;
    } 
    .gridy div span {
        padding: 12px 20px;
    }
    .home-pc-menu button {
        margin-right: 50px;
    }
    #create-event, #create-group, #success-sign-up, #failed, #edit-group {
        margin-inline: 200px;
    }
    #hero {
        display: grid;
        grid-template-columns: auto auto;
    }
    #group-desc-div, #event-desc-div {
        margin-inline: 20px;
        width: 350px;
    }
    #group-details-container {
        margin-inline: 200px;
    }
}